@model ProductServiceModel

@{
    ViewData["Title"] = "Edit Product";
    var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.ProductName" class="form-label-add-edit">Product Name</label>
                    <input asp-for="@Model.ProductName" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model.ProductName" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input asp-for="Price" class="form-control" aria-required="true" type="number" step="0.01" min="0" />
                    </div>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="2"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="@Model.ImageUrl" class="form-label-add-edit">ImageURL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="false" placeholder="Enter image URL (optional)" />
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.AddedOn" class="form-label-add-edit">Added On</label>
                    <input asp-for="@Model.AddedOn" class="form-control" aria-required="true" value="@(string.IsNullOrEmpty(Model.AddedOn) ? today : Model.AddedOn)" />
                    <span asp-validation-for="@Model.AddedOn" class="text-danger"></span>
                </div>
                <div class="col-sm-6 mb-2">
                    <label asp-for="@Model.CategoryId" class="form-label-add-edit">Category</label>
                    <select asp-for="@Model.CategoryId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                        <option value="">Select Category...</option>
                    </select>
                    <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.SellerId" />
            <div class="mb-2">
                <input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>